{%extends "base.html"%}
<br>
{%block content%}
&nbsp; <br>
<form method="get" action="/submittweet/" name="submittweet"><!-- open home page of a given user, where they can form their new tweets and also see their followers and the user this given user is following --><br>
  <big style="font-weight: bold;"><big style="font-weight: bold;"><big>{{user_name}}<input name="user_name" value="{{user_name}}" type="hidden"></big></big><big><br>
  <br>
  <input value="Compose New tweet" name="tweet">&nbsp; 
<input name="submit" value="Submit" type="submit"></big></big><br>
</form>
{%endblock%} 
